* {
    margin: 0;
    padding: 0;
}



.contend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.blue div {
    background-color: dodgerblue;
    border: 3px solid black;
    margin: 5px;
    width: 4rem;
    text-align: center;

}

.pink div {
    background-color: lightpink;
    border: 3px solid black;
    margin: 5px;
    width: 4rem;
    text-align: center;
}

.yellow div {
    background-color: yellow;
    border: 3px solid black;
    margin: 5px;
    width: 4rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}



.green div {
    background-color: rgb(22, 152, 5);
    border: 3px solid black;
    margin: 5px;
    width: 4rem;
    text-align: center;
}