* {
    margin: 0;
    padding: 0;
}

body {
    background-color: midnightblue;

}

header {
    background-color: red;
    color: skyblue;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
}

h1,
h5 {
    margin: 15px;
}

nav {
    background-color: rgb(39, 143, 140);
    min-height: 100px;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    color: white;
}

section,
a {
    color: aquamarine;
}

div {
    min-height: 400px;
    margin: 10px;
    width: 76rem;
    height: 36rem;
    background-color: rgb(36, 36, 66);
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
}

.centro {
    padding: 10px;
}

p,
h2 {

    padding: 10px;
    color: white;
    font-size: 20px;
}

.mover {
    margin-left: 30px;
    font-size: 20px;
    color: white;
}

footer {
    background-color: darkgrey;
    border-radius: 10px;
    height: 45px;
    margin: 10px;
}

h4 {
    padding: 10px;
}

span {
    color: blueviolet;

}