* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, rgba(93, 45, 45, 0.877), rgba(129, 87, 87, 0.785));
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    background-color: white;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.jayne {
    width: 35rem;
    height: 25rem;
    border: 10px solid gray;
}

h3,
h5 {
    background-color: darkgray;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

.iam {
    background-color: white;
    width: 35rem;
    height: 25rem;

}

.cajas {
    width: 25rem;
    min-height: 30rem;
    background-color: white;
    margin-bottom: 20px;
}

.img {
    width: 22rem;
}

footer {
    min-height: 70px;
    background-color: white;
    text-align: center;
    padding: 8px;
}

.imgen img {
    width: 55px;
    margin: 10px;
}

.block img {
    width: 25px;
    margin-top: 5px;
}

.mail {
    margin: 3px;
}

a {
    padding: 15px;
    color: black;
}

p,
.a {
    padding: 15px;
}

button {
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    margin: 7px;
    margin-left: 9rem;
}